.RData
.Rhistory
abbababa/*
ancestry/*
slurm/log/*.log
slurm/clusterSnakemake.pbs
slurm/config.yaml
list/*
log/*
logs/*
mafs/*
ngsRelate/*
ref/*
saf/*
synthesis_daphnia
.snakemake/*
test.txt
tmp.list
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.bam*
*.bai
*.sam*
*.log
*.vcf*
*.metrics.txt
*.bed*
*.OU
*.ER
*.cov
*.args
*.arg
*.npy
*.beagle.gz
*.mafs.gz
*.snakemake/
*stats*
*hist*
*.gz
*.ml
*.pdf
*.list
*.done
*.log
*saf.gz
*saf.idx
*saf.pos.gz
*sfs*
*fst*
*Fst*
*pestPG
*thetas*
*est.ml
